<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>

    <%- include("partials/headers")  %> 


</head>
<body>
    <%- include("partials/navbar")  %> 
    
    <h1>Booking Done</h1>

    <img src="<%= qr %>" alt="QR Code">


    <%- include("partials/scripts")  %>

</body>
</html>