.sports{
    height: 250px;
    width: 250px;
    /* margin: 20px; */
    margin: -2px;
    align-self: center;
}
button{
    margin: 16px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}